body {
  background: #f6f5ef;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}
body .row {
  margin-bottom: 0;
}
body #main-bar {
  text-align: center;
  border-bottom: 5px solid #686de0;
  background: white;
  color: #686de0;
}
body #main-bar #nav-app-name {
  color: white;
  background: #30336b;
}
body #main-bar #nav-chat,
body #main-bar #nav-history,
body #main-bar #nav-about-us,
body #main-bar #nav-app-name {
  font-size: 24px;
  padding: 20px 0;
  font-weight: bold;
}
body #main-bar #nav-chat:hover,
body #main-bar #nav-history:hover,
body #main-bar #nav-about-us:hover {
  cursor: pointer;
  background: #686de0;
  color: white;
}
body #main-bar #nav-chat {
  text-decoration: underline;
}
body #content .left #trending-topics {
  width: 85%;
}
body #content #trending-topics {
  margin: 50px 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 50px;
}
body #content #trending-topics #trending-topics-header {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 15px;
  text-align: center;
  color: white;
  background: #30336b;
  margin-left: -1px;
}
body #content #trending-topics .trending-topic-item {
  border: 1px solid #30336b;
  padding: 5px 15px;
  margin-left: -1px;
  background: white;
  color: #686de0;
}
body #content #trending-topics .trending-topic-item .title {
  font-size: 18px;
  font-weight: bold;
}
body #content #trending-topics .trending-topic-item .conversations {
  font-size: 14px;
  text-indent: 25px;
}
body #content #choose-your-topic {
  width: 100%;
  margin: 50px 0 100px 0;
  display: block;
  vertical-align: top;
}
body #content #choose-your-topic label {
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 75px 0 50px 0;
  display: block;
  color: #30336b;
}
body #content #choose-your-topic #topic-chooser-form {
  display: block;
}
body #content #choose-your-topic #topic-chooser-form div.cont {
  display: block;
  margin: auto;
  text-align: center;
}
body #content #choose-your-topic #topic-chooser-form div.cont select {
  width: 350px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
  border-radius: 20px;
  text-indent: 10px;
}
body #content #choose-your-topic #topic-chooser-form div.cont button {
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 0 25px;
  background: #30336b;
  border-radius: 20px;
  color: white;
}
body #content #previous-conversations {
  margin: 50px 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 50px;
}
body #content #previous-conversations #previous-conversations-header {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 15px;
  text-align: center;
  color: white;
  background: #30336b;
  margin-left: -1px;
}
body #content #previous-conversations .conversation-item {
  border: 1px solid #30336b;
  padding: 5px 15px;
  margin-left: -1px;
  background: white;
  color: #686de0;
}
body #content #previous-conversations .conversation-item .conversation-date {
  font-size: 14px;
  font-weight: bold;
}
body #content #previous-conversations .conversation-item .conversation-messages {
  font-size: 14px;
  text-indent: 25px;
}
body #content #previous-conversations .conversation-item:hover {
  cursor: pointer;
}
body #content #previous-topics {
  margin: 50px 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 50px;
}
body #content #previous-topics #previous-topics-header {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 15px;
  text-align: center;
  color: white;
  background: #30336b;
  margin-left: -1px;
}
body #content #previous-topics .previous-topic-item {
  border: 1px solid #30336b;
  padding: 5px 15px;
  margin-left: -1px;
  background: white;
  color: #686de0;
}
body #content #previous-topics .previous-topic-item .previous-topic-date {
  font-size: 14px;
  font-weight: bold;
}
body #content #previous-topics .previous-topic-item .previous-topic {
  font-size: 14px;
  text-indent: 25px;
}
body #content #about-us {
  width: 1000px;
  vertical-align: top;
  display: inline-block;
  color: #30336b;
}
body #content #about-us #mission-statement {
  vertical-align: top;
  display: block;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
body #content #about-us #statement {
  font-size: 20px;
  font-style: italic;
  color: #686de0;
}
body #content #about-us #about-us {
  vertical-align: top;
  display: block;
  font-size: 20px;
  font-weight: bold;
}
body #content #about-us #text {
  vertical-align: top;
  display: block;
  font-size: 20px;
  font-style: normal;
  color: #686de0;
}
body #content #about-us #additional-info {
  vertical-align: top;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
body #content #about-us #info {
  vertical-align: top;
  display: block;
  font-size: 14px;
  font-style: normal;
  color: #686de0;
}
body #content #about-us footer {
  color: #686de0;
}
body #content #usage-stats {
  width: 100%;
  display: block;
}
body #content #usage-stats #chart-title {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  color: #30336b;
  margin-bottom: 25px;
}
body #content #usage-stats #chartContainer {
  height: 225px;
  width: 725px;
  margin: auto;
  display: block;
}
body #content #conversation-screen {
  height: 75%;
  margin: 50px 0;
  position: relative;
  padding: 0 50px;
}
body #content #conversation-screen #conversation-title {
  width: 100%;
  display: block;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  background: #30336b;
  color: white;
  height: 45px;
  line-height: 45px;
}
body #content #conversation-screen #back-to-main {
  position: absolute;
  top: 5px;
  left: 75px;
  height: 35px;
  width: 10px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
body #content #conversation-screen #back-to-main img {
  height: 35px;
  width: 35px;
}
body #content #conversation-screen #back-to-main img:hover {
  cursor: pointer;
}
body #content #conversation-screen #leave-conversation {
  position: absolute;
  top: 5px;
  right: 75px;
  height: 35px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background: red;
  border-radius: 25px;
  padding: 0 20px;
  cursor: pointer;
  line-height: 35px;
}
body #content #conversation-screen #message-cont {
  display: block;
  width: 100%;
  padding: 25px;
  border: 1px solid black;
  height: calc(100% - 90px);
}
body #content #conversation-screen #message-cont .message {
  display: block;
  max-width: 300px;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 25px;
  background: #686de0;
  clear: both;
  font-weight: bold;
  color: white;
  font-size: 16px;
}
body #content #conversation-screen #action-cont {
  display: block;
  height: 45px;
  background: #30336b;
  position: absolute;
  bottom: 0;
  width: calc(100% - 100px);
}
body #content #conversation-screen #action-cont #input-cont {
  display: inline-block;
  padding: 0;
}
body #content #conversation-screen #action-cont #input-cont input {
  background: white;
  border-radius: 25px;
  margin: 5px 25px;
  height: 35px;
  text-indent: 25px;
  width: calc(100% - 50px);
  font-size: 16px;
  font-weight: bold;
}
body #content #conversation-screen #action-cont #send-cont {
  padding: 0;
}
body #content #conversation-screen #action-cont #send-cont #send-button {
  display: block;
  text-align: center;
  height: 35px;
  margin: 5px 25px 5px 0;
  background: #686de0;
  border-radius: 25px;
  font-weight: bold;
  width: calc(100% - 25px);
  line-height: 35px;
  color: white;
}
body #content #conversation-screen #action-cont #send-cont #send-button:hover {
  cursor: pointer;
}
body #content #waiting-screen #waiting-cont {
  height: 75%;
  width: 100%;
}
body #content #waiting-screen #waiting-cont #waiting-image-cont {
  background: #30336b;
  height: 250px;
  width: 250px;
  border-radius: 125px;
  display: block;
  position: relative;
  margin: 50px auto;
}
body #content #waiting-screen #waiting-cont #waiting-image-cont img {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 25px;
  left: 25px;
}
body #content #waiting-screen #waiting-cont #waiting-text {
  color: #686de0;
  font-size: 28px;
  text-align: center;
  display: block;
  font-weight: bold;
  width: 500px;
  margin: auto;
}
