body
{
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;

	.row
	{
		margin-bottom: 0;
	}

	#main-bar
	{
		text-align: center;
		border-bottom: 5px solid black;

		#nav-app-name
		{
			color: white;
			background: black;
		}

		#nav-chat, #nav-history, #nav-about-us, #nav-app-name
		{
			font-size: 24px;
			padding: 20px 0;
			font-weight: bold;
		}

		#nav-chat:hover, #nav-history:hover, #nav-about-us:hover
		{
			cursor: pointer;
		}

		#nav-chat
		{
			text-decoration: underline;
		}
	}

	#content
	{
	    #trending-topics
        {
            height: 600px;
            margin: 50px 0;
            display: inline-block;
            box-sizing: border-box;
            padding: 0 50px;

            #trending-topics-header
            {
                font-size: 20px;
                font-weight: bold;
                padding: 5px 15px;
                text-align: center;
                color: white;
                background: black;
                margin-left: -1px;
            }

            .trending-topic-item
            {
                border: 1px solid black;
                padding: 5px 15px;
                margin-left: -1px;

                .title
                {
                    font-size: 18px;
                    font-weight: bold;
                }
                .conversations
                {
                    font-size: 14px;
                    text-indent: 25px;
                }
            }

            .trending-topic-item:hover
            {
                cursor: pointer;
            }
        }

        #choose-your-topic
        {
            width: 100%;
            margin: 50px 0;
            display: block;
            vertical-align: top;

            label
            {
                width: 100%;
                font-size: 36px;
                font-weight: bold;
                color: black;
                text-align: center;
                margin: 100px 0;
                display: block;
            }

            select
            {
                width: 75%;
                font-size: 20px;
                font-weight: bold;
                color: black;
                text-align: center;
                margin: auto;
                display: block;
            }

            button
            {
                width: 40%;
                height: 10%;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                margin: 50px auto;
                display: block;
                background-color: white;
                color: black;
            }
        }

        #previous-conversations
        {
            height: 600px;
            margin: 50px 0;
            display: inline-block;
            box-sizing: border-box;
            padding: 0 50px;

            #previous-conversations-header
            {
                font-size: 20px;
                font-weight: bold;
                padding: 5px 15px;
                text-align: center;
                color: white;
                background: black;
                margin-left: -1px;
            }

            .conversation-item
            {
                border: 1px solid black;
                padding: 5px 15px;
                margin-left: -1px;
            }

            .conversation-date
            {
                font-size: 14px;
                font-weight: bold;
            }

            .conversation-messages
            {
                font-size: 14px;
                text-indent: 25px;
            }
        }

        #previous-topics
        {
            height: 600px;
            margin: 50px 0;
            display:inline-block;
            box-sizing: border-box;
            padding: 0 50px;


            #previous-topics-header
            {
                font-size: 20px;
                font-weight: bold;
                padding: 5px 15px;
                text-align: center;
                color: white;
                background: black;
                margin-left: -1px;
            }

            .previous-topic-item
            {
                border: 1px solid black;
                padding: 5px 15px;
                margin-left: -1px;
            }

            .previous-topic-date
            {
                font-size: 14px;
                font-weight: bold;
            }

            .previous-topic
            {
                font-size: 14px;
                text-indent: 25px;
            }
        }

        #about-us
        {
            width: 1000px;
            vertical-align: top;
            display: inline-block;

            #mission-statement
            {
                vertical-align: top;
                display: block;
                font-size: 25px;
                font-weight: bold;
                text-align: center;
            }
            #statement
            {
                font-size: 20px;
                font-style: italic;
            }
            #about-us
            {
                vertical-align: top;
                display: block;
                font-size: 20px;
                font-weight: bold;
            }
            #text
            {
                vertical-align: top;
                display: block;
                font-size: 20px;
                font-style: normal;
            }
            #additional-info
            {
                vertical-align: top;
                display: block;
                font-size: 18px;
                font-weight: bold;
            }
            #info
            {
                vertical-align: top;
                display: block;
                font-size: 14px;
                font-style: normal;
            }
        }

        #usage-stats
        {
            width: 100%;
            display: block;

            #chartContainer
            {
                height: 370px;
                max-width: 920px;
                margin: 0 auto;
            }
        }

        #conversation-screen
        {
            height: 75%;
            margin: 50px 0;
            position: relative;
            padding: 0 50px;

            #conversation-title
            {
                width: 100%;
                display: block;
                font-size: 26px;
                font-weight: bold;
                text-align: center;
                background: black;
                color: white;
                height: 45px;
            }

            #message-cont
            {
                display: block;
                width: 100%;
                padding: 25px;
                border: 1px solid black;
                height: ~"calc(100% - 90px)";

                .message
                {
                    display: block;
                    max-width: 300px;
                    padding: 10px 15px;
                    margin: 5px 0;
                    border-radius: 25px;
                    background: black;
                    clear: both;
                    font-weight: bold;
                    color: white;
                    font-size: 16px;
                }

            }
            #action-cont
            {
                display: block;
                height: 45px;
                background: black;
                position: absolute;
                bottom: 0;
                width: ~"calc(100% - 100px)";

                #input-cont
                {
                    display: inline-block;
                    padding: 0;

                    input
                    {
                        background: white;
                        border-radius: 25px;
                        margin: 5px 25px;
                        height: 35px;
                        text-indent: 25px;
                        width: ~"calc(100% - 50px)";
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                #send-cont
                {
                    padding: 0;

                    #send-button
                    {
                        display: block;
                        text-align: center;
                        height: 35px;
                        margin: 5px 25px 5px 0;
                        background: white;
                        border-radius: 25px;
                        font-weight: bold;
                        width: ~"calc(100% - 25px)";
                    }
                }
            }
        }
	}
}
